{% extends "base.html" %}

{% block content %}

{%for post in posts%}
<div class="col-sm-8 col-sm-offset-2">
<h2>

        <h2><a href="#">{{post.title}}</a></h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by {{post.author}} {{post.publish.month}}/{{post.publish.day}}/{{post.publish.year}} at {{post.publish.time}}</h5>
        <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
        <h4><p class="text-justify">{{post.body|truncatewords:50}}</p></h4>
        <br><br>
    </a>
<h2>
</div>
{% endfor %}
<div class="col-sm-8 col-sm-offset-2"></div>
{% include "pagination.html" with page=posts %}
</div>
{% endblock %}
